body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    background-color: #14150f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .linksnav{
    list-style: none;
}

.header .linksnav li{
    display: inline-block;
    padding: 0 20px;    
}

.header .linksnav li:hover{
    transform: scale(1.1);
}

.header .linksnav a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .linksnav li a:hover{
    color: #ffc403;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffc403;
    transform: scale(1.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    color: #333;
    margin: 10px 0;
}

p {
    color: #666;
}

.ver-mas {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ver-mas:hover {
    background-color: #ff3300;
}
