﻿@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Fotology</title>
    <!-- Agrega aquí tus enlaces a hojas de estilo, fuentes, o cualquier otro recurso necesario -->
</head>
<body>
    <div>
        <h1>Bienvenido a Fotology</h1>
        <p>
            Fotology es tu plataforma dedicada a la pasión por la fotografía. Explora un mundo visualmente impactante
            capturado a través de las lentes de talentosos fotógrafos. Desde retratos cautivadores hasta impresionantes
            paisajes, estamos aquí para celebrar la diversidad y la creatividad en el arte de la fotografía.
        </p>
        <p>
            La fotografía ha evolucionado a lo largo de los años, convirtiéndose en una forma de arte única y una poderosa
            herramienta de comunicación. A través de las imágenes, podemos contar historias, expresar emociones y
            capturar momentos que perdurarán en el tiempo. ¡Únete a nuestra comunidad y comparte tu visión fotográfica!
        </p>
        <!-- Puedes agregar más contenido, enlaces o elementos según tus necesidades -->
    </div>
</body>
</html>