@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PagPrincipal</title>
    <link rel="stylesheet" href="~/css/Cliente css/stylepagprincipal.css" />
    <link rel="icon" href="~/Recursos/LOGOA.png" />
    <script src="https://kit.fontawesome.com/9bf48cfb4e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="~/Recursos/LOGO.png" alt="Logo" />
        </div>
        <nav>
            <ul class="linksnav">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Fotografos</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <a class="btn" href="@Url.Action("Index", "Cliente")"><button>Cerrar Sesion</button></a>
    </header>

    <div class="carrusel">
        <ul>
            <li><img src="~/Recursos/Carr1.jpg" alt="" /></li>
            <li><img src="~/Recursos/Carr1.jpg" alt="" /></li>
            <li><img src="~/Recursos/Carr1.jpg" alt="" /></li>
            <li><img src="~/Recursos/Carr1.jpg" alt="" /></li>
        </ul>
    </div>
    <div class="fdestacados">
        <h1>Fotografos</h1>
        <h2>Destacados</h2>
    </div>
    <div class="contenedor">
        <img class="imagen" src="~/Recursos/Paisaje1.jpg" alt="Paisaje" />
        <div class="texto">
            <h1 class="nombre">Erick Ricaurte</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea officiis
                quis optio voluptatem deleniti, labore cumque, debitis neque, dolor
                autem consequatur beatae. Quam excepturi rem, eaque quasi ad esse
                harum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                officiis quis optio voluptatem deleniti, labore cumque, debitis neque,
                dolor autem consequatur beatae. Quam excepturi rem, eaque quasi ad
                esse harum?Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ea officiis quis optio voluptatem deleniti, labore cumque, debitis
                neque, dolor autem consequatur beatae. Quam excepturi rem, eaque quasi
                ad esse harum?Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Ea officiis quis optio voluptatem deleniti, labore cumque,
                debitis neque, dolor autem consequatur beatae. Quam excepturi rem,
                eaque quasi ad esse harum?Lorem ipsum.
            </p>
            <a class="mas" href="#"><button>Saber mas</button></a>
        </div>
    </div>
    <div class="categorias">
        <h1>Categorias</h1>
        <h2>Principales</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea officiis
            quis optio voluptatem deleniti, labore cumque, debitis neque, dolor
            autem consequatur beatae. Quam excepturi rem, eaque quasi ad esse
            harum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
            officiis quis optio voluptatem deleniti, labore cumque, debitis neque,
            dolor autem consequatur beatae. Quam excepturi rem, eaque quasi ad esse
            harum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
            officiis quis optio voluptatem deleniti, labore cumque, debitis neque,
            dolor autem consequatur beatae. Quam excepturi rem, eaque quasi ad esse
            harum?
        </p>
    </div>
    <div class="container-card">
        <div class="card">
            <figure>
                <img src="https://media.colombian.com.co/wp-content/uploads/2018/12/04114439/ImagenDestacada-Paisajes-01.jpg" />
            </figure>
            <div class="contenido-card">
                <h3>Paisajes</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                    officiis quis optio voluptatem deleniti, labore cumque, debitis
                    neque, dolor autem consequatur beatae.
                </p>
                <a class="smas" href="#"><button>Ver</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="https://i.blogs.es/a709d5/kevin-biskaborn/1366_2000.jpg" />
            </figure>
            <div class="contenido-card">
                <h3>Animales</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                    officiis quis optio voluptatem deleniti, labore cumque, debitis
                    neque, dolor autem consequatur beatae.
                </p>
                <a class="smas" href="#"><button>Ver</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="https://www.formacionyestudios.com/wp-content/uploads/2018/09/como-ser-modelo.jpg" />
            </figure>
            <div class="contenido-card">
                <h3>Personas</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                    officiis quis optio voluptatem deleniti, labore cumque, debitis
                    neque, dolor autem consequatur beatae.
                </p>
                <a class="smas" href="#"><button>Ver</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="https://4.bp.blogspot.com/-_wiVPaJL1UQ/Vu76uPP_RnI/AAAAAAAACHY/iq58X7aV6bYC80JuBxK3OnZptTYJxNaGw/s1600/importancia-decoracion-eventos-sociales.jpg" />
            </figure>
            <div class="contenido-card">
                <h3>Eventos</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                    officiis quis optio voluptatem deleniti, labore cumque, debitis
                    neque, dolor autem consequatur beatae.
                </p>
                <a class="smas" href="#"><button>Ver</button></a>
            </div>
        </div>
    </div>
</body>
</html>
