* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #dfdcdc;
}

/* Header */

.header{
    background-color: #14150f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .linksnav{
    list-style: none;
}

.header .linksnav li{
    display: inline-block;
    padding: 0 20px;    
}

.header .linksnav li:hover{
    transform: scale(1.1);
}

.header .linksnav a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .linksnav li a:hover{
    color: #ffc403;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffc403;
    transform: scale(1.1);
}   

/* Estilos CSS para la tabla y botones */

.container {
    max-width: 1000 px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: orange;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: orange;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.filter-btn {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #ff9800;
}
