@{
    Layout = null; // Esto evita que utilices un diseño predeterminado si lo tienes configurado
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil de Fotógrafo</title>
    <link rel="stylesheet" href="~/css/Fotografo css/stylepagfotografo.css" />
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../Recursos/LOGOA.png" alt="Logo" />
        </div>
        <nav>
            <ul class="linksnav">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="portafolio.php">Portafolio</a></li>
                <li><a href="#">Mensajes</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <a class="btn" href="@Url.Action("IniciarSesionFotografo", "Fotografo")"><button>Cerrar Sesion</button></a>
    </header>
    <main>
        <section class="profile">
            <div class="profile-image">
                <img src="../Recursos/LOGOA.jpg" alt="Foto de perfil" />
            </div>
            <div class="profile-info">
                <h2 id="profile-name">Nombre del Fotógrafo</h2>
                <br />
                <p>
                    Correo Electrónico:
                    <span id="profile-email">correo@fotografo.com</span>
                </p>
                <br />
                <p>Telefono de contacto: <span id="contacto">3103232332</span></p>
                <br />
                <p id="profile-description">
                    Descripción: Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Ducimus modi et est! Corrupti aliquid reprehenderit sed
                    perspiciatis esse quisquam nisi, consectetur culpa tempore beatae
                    dolore delectus eum nesciunt quis ipsa.
                </p>
                <br />
                <a class="edit-button" href="./editarperfil.php">Editar Perfil</a>
            </div>
        </section>
    </main>
</body>
</html>

