@{
    Layout = null; // Esto evita que utilices un diseño predeterminado si lo tienes configurado
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil de Fotógrafo</title>
    <link rel="stylesheet" href="~/css/stylepagfotografo.css" />
</head>
<body>
    <header>
        <h1>Perfil de Fotógrafo</h1>
    </header>
    <main>
        <section class="profile">
            <div class="profile-image">
                <img src="~/Recursos/LOGOA.jpg" alt="Foto de perfil" />
            </div>
            <div class="profile-info">
                <h2>Nombre del Fotógrafo</h2>
                <p>Correo Electrónico: correo@fotografo.com</p>
                <p>Descripción: Esta es una descripción del fotógrafo.</p>
                <a href="@Url.Action("EditarPerfil", "Home")">
                    <button class="edit-button">Editar Perfil</button>
                </a>
            </div>
        </section>
    </main>
    <footer>&copy; 2023 Fotógrafo Inc.</footer>
</body>
</html>
